@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
}

.top-navbar {
      user-select: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgb(98, 165, 51);
      outline: none;
}

.top-navbar .navbar-logo-hyperlink {
      margin: 20px;
      outline: none;
}

.top-navbar .hamburger-button-img {
      margin: 20px;
      display: none;
      cursor: pointer;
}

.top-navbar ul {
      margin: 20px;
}

.top-navbar ul li {
      list-style: none;
      display: inline;
      margin: 0px 20px;
      outline: none;
}

.top-navbar ul li a {
      text-decoration: none;
      font-weight: 400;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 1.2rem;
      outline: none;
}

.top-navbar ul li a .navbar-button-icon-img {
      margin-left: 10px;
}

.nav-button {
      color: #FFF;
      transition: all 0.5s;
      position: relative;
}

.nav-button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;
      transition: all 0.3s;
}

.nav-button:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
}

.nav-button::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.7);
      transform: scale(1.2,1.2);
}

.nav-button:hover::after {
      opacity: 1;
      transform: scale(1,1);
}

.index-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-image: url(Images/HeaderPhotos/TheFrogCult_RedEyedFrogHeader.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 5%;
      box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.8);
}

.main-header {
      color: white;
      font-size: 5rem;
      margin: 20px;
}

.description-header {
      color: white;
      font-size: 2rem;
      margin: 20px;
}

main {
      background-color: rgb(98, 165, 51);
      padding: 20px;
}

.music-play-div {
      transition: all ease 0.3s;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 20px;
      position: fixed;
      top: 50%;
      right: 0%;
      border-bottom-left-radius: 60%;
      border-top-left-radius: 60%;
      box-shadow: 0px 0px 30px 2px rgba(98, 165, 51, 0.3)
}

.music-play-div:hover {
      transition: all ease 0.3s;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 30px 2px rgba(254, 157, 42, 0.3);
}

.music-play-div .music-card-div {
      cursor: pointer;
}

.music-play-div .music-card-div img {
      user-select: none;
      outline: none;
}

.fun-cards-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.fun-card-div {
      transition: all ease 0.3s;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 30px;
      border-radius: 10px;
      color: white;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 200px;
      width: 300px;
      cursor: pointer;
      box-shadow: 3px 3px 16px 1px rgba(0, 0, 0, 0.8);
}

.fun-card-div:hover {
      transition: all ease 0.3s;
      background-color: rgba(0, 0, 0, 0.5);
      transform: scale(1.06);
}

.fun-card-div img {
      margin: 10px;
} 

.fun-card-div h3 {
      margin: 10px 0px;
}

/* |---------------| */
/* | MEDIA QUERIES | */
/* |---------------| */

@media screen and (max-width: 768px) { /* NEW TABLETS & IPAD'S */
      .top-navbar .hamburger-button-img {
            width: 22px;
      }

      .top-navbar .hamburger-button-img {
            display: unset;
      }

      .top-navbar ul {
            display: none;
      }

      .top-navbar {
            padding-bottom: 0px;
            justify-content: space-between;
      }

      .index-header {
            background-position: left;
      }
}

@media screen and (max-width: 600px) { /* OLD TABLETS */

}

@media screen and (max-width: 375px) { /* MID SIZED PHONES */
      .top-navbar .navbar-logo-img {
            width: 260px;
      }
}

@media screen and (max-width: 360px) { /* MID-LITTLE SIZED PHONES */
      .top-navbar .navbar-logo-img {
            width: 240px;
      }

      .top-navbar .hamburger-button-img {
            width: 18px;
      }
}

@media screen and (max-width: 320px) { /* LITTLE SIZED PHONES*/
      .top-navbar .navbar-logo-img {
            width: 200px;
      }

      .top-navbar .hamburger-button-img {
            width: 15px;
      }
}

@media screen and (max-width: 280px) { /* FOLD TYPED PHONES */
      .top-navbar .navbar-logo-img {
            width: 180px;
      }

      .top-navbar .hamburger-button-img {
            width: 16px;
      }
}